<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a routerLink="" routerLinkActive="active" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" placement="top" ngbTooltip="Inicio">
      <img class="logo-footer" alt="Logo Footer" src="./assets/logo-BD.png">
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Black Diamond, S.A.</span>
  </div>
  <div class="enlaces-footer">
    <a class="text-body-secondary faq" routerLink="/faq" routerLinkActive="active">Preguntas Frecuentes</a>
    <a class="text-body-secondary faq" routerLink="/privacy" routerLinkActive="active">Politica de Privacidad</a>
    <a class="text-body-secondary faq" routerLink="/condiciones" routerLinkActive="active">Condiciones</a>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-body-secondary" placement="bottom" ngbTooltip="Twitter" href="https://twitter.com/BlackDi49592506"><img class="iconos" src="assets/signo-de-twitter.png" alt="Twitter"></a></li>
    <li class="ms-3"><a class="text-body-secondary" placement="top" ngbTooltip="Instagram" href="https://www.instagram.com/black.diamond.keys/"><img class="iconos" src="assets/signo-de-instagram.png" alt="Instagram"></a></li>
    <li class="ms-3"><a class="text-body-secondary" placement="left" ngbTooltip="Facebook" href="#"><img class="iconos" src="assets/signo-de-facebook.png" alt="Facebook"></a></li>
  </ul>
</footer>


