<div class="contenedorForm">
  <div class="screen">
    <div class="screen-header">
      <div class="screen-header-left">
        <div class="screen-header-button close"></div>
        <div class="screen-header-button maximize"></div>
        <div class="screen-header-button minimize"></div>
      </div>
      <div class="screen-header-right">
        <div class="screen-header-ellipsis"></div>
        <div class="screen-header-ellipsis"></div>
        <div class="screen-header-ellipsis"></div>
      </div>
    </div>
    <div class="screen-body">
      <div class="screen-body-item left">
        <div class="app-title">
          <span>INICIAR SESIÓN</span>
        </div>
        <img id="whiteLogo" alt="Logo Blanco" src="http://172.16.10.1:3080/imagenes/logo-BD-Blanco.png">
        <div class="app-contact">
          <a class="link" routerLink="/contacto">CONTACTANOS</a>
        </div>
      </div>
      <div class="screen-body-item">
        <div id="espacioSuperior" *ngIf="!parametrosIncorrectos"></div>
        <div id="camposVacios" *ngIf="parametrosIncorrectos">
          <p id="errorLogin">{{ errorMessage }}</p>
        </div>
        <div class="app-form">
          <div class="app-form-group">
            <input [(ngModel)]="username" class="app-form-control" id="username" placeholder="NOMBRE DE USUARIO">
          </div>
          <div class="app-form-group">
            <input [(ngModel)]="password" type="password" id="password" class="app-form-control" placeholder="CONTRASEÑA">
          </div>
          <div class="app-form-group buttons">
            <button class="app-form-button" (click)="loginWallet()">ENTRAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="registrar">
  <p style="margin-bottom: 3px; margin-top: 2px; font-size: small">¿No tienes cuenta?</p>
  <a routerLink="/registro" routerLinkActive="Active" class="link2"><b>CREAR CUENTA</b></a>
  <p style="margin-bottom: 3px; margin-top: 2px; font-size: small">¿Has olvidado tu contraseña?</p>
  <a class="link2"><b>RECUPERAR CONTRASEÑA</b></a>
</div>

<router-outlet></router-outlet>
