<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <!--<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://gaming-cdn.com/img/products/6842/hcover/1920x620/6842.jpg?v=1696933764" class="bd-placeholder-img" width="100%" height="100%">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Juegos más vendidos</h1>
          <p class="boton-vermas"><a class="btn btn-lg btn-primary" href="#">Ver Más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://gaming-cdn.com/img/products/12715/hcover/1920x620/12715.jpg?v=1697010471" class="bd-placeholder-img" width="100%" height="100%">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Juegos mejor valorados</h1>
          <p class="boton-vermas"><a class="btn btn-lg btn-primary" href="#">Ver más</a></p>
        </div>
      </div>
    </div>
    <!--            <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="texto-carousel">Juegos nuevos</h1>
                            <p><a class="btn btn-lg btn-primary" href="#">Ver más</a></p>
                        </div>
                    </div>
                </div>-->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
<div class="separador"></div>

<div id="filtro">
  <label>Categoría: </label>
  <select id="filtro-cat" (change)="filtrado()">
    <option value="0"></option>
    <option value="1">FPS</option>
    <option value="2">Survival</option>
    <option value="3">Estrategia</option>
  </select>
</div>

<div class="todos-productos">
  <div *ngFor="let producto of arrayProductos" class="productos">
    <a (click)="verDetalleProducto(producto.idProducto)" class="productos-enlaces" routerLinkActive="Active">
    <div *ngIf="producto.descuentoProducto" class="porcentaje-descuento">{{producto.porcentajeDescuentoProducto * 100}}% dto.</div>
    <img alt="Imagen Productos" class="imagen-productos" src='{{producto.fotoProducto}}'>
    <h3 class="nombre-producto">{{producto.nombreProducto}}</h3>
    <div *ngIf="producto.descuentoProducto">
      <p class="precio">{{Number(((producto.precioProducto - (producto.precioProducto * producto.porcentajeDescuentoProducto))).toFixed(2)).toLocaleString('es-ES')}}€</p>
      <p class="precio-anterior">{{producto.precioProducto.toLocaleString('es-ES')}}€</p>
    </div>
    <div *ngIf="!producto.descuentoProducto">
      <p class="precio">{{producto.precioProducto.toLocaleString('es-ES')}}€</p>
    </div>
    <input type="hidden" value="{{producto.categoriaProducto}}">
    <input type="hidden" value="{{producto.idProducto}}">
  </a>
    <div class="centrar-sumarproducto">
      <button class="restar-producto">-</button>
      <input class="numero-productos" type="number" max="50" min="1" value="1">
      <button class="sumar-producto">+</button>
    </div>
  </div>
</div>
<div class="separador-dos"></div>
<div class="separar-inicio"></div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link disabled" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link active" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    <li class="page-item"><a class="page-link" href="#">127</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
