<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <!--<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://gaming-cdn.com/img/products/6842/hcover/1920x620/6842.jpg?v=1696933764" class="bd-placeholder-img" width="100%" height="100%">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Juegos más vendidos</h1>
          <p class="boton-vermas"><a class="btn btn-lg btn-primary" href="#">Ver Más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://gaming-cdn.com/img/products/12715/hcover/1920x620/12715.jpg?v=1697010471" class="bd-placeholder-img" width="100%" height="100%">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Juegos mejor valorados</h1>
          <p class="boton-vermas"><a class="btn btn-lg btn-primary" href="#">Ver más</a></p>
        </div>
      </div>
    </div>
    <!--            <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="texto-carousel">Juegos nuevos</h1>
                            <p><a class="btn btn-lg btn-primary" href="#">Ver más</a></p>
                        </div>
                    </div>
                </div>-->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<div class="separador"></div>


<div class="todos-productos">
  <div class="productos"><a class="productos-enlaces" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="restar-producto">-</button>
      <input class="numero-productos" type="number" max="50">
      <button class="sumar-producto">+</button>
    </div>
  </div>
  <div class="productos"><a class="productos-enlaces" href="">
    <div class="porcentaje-descuento">20% dto.</div>
    <img alt="Imagen Productos" class="imagen-productos" src="assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p>Descripción producto de prueba</p>
    <p class="precio">52,99€</p>
    <p class="precio-anterior">64,99€</p>
  </a>
    <div class="centrar-sumarproducto-descuento">
      <button class="restar-producto">-</button>
      <input class="numero-productos" type="number" max="50">
      <button class="sumar-producto">+</button>
    </div>
  </div>
  <div class="productos"><a class="productos-enlaces" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="restar-producto">-</button>
      <input class="numero-productos" type="number" max="50">
      <button class="sumar-producto">+</button>
    </div>
  </div>
</div>
<div class="filtros">
  <h4 id="recomendados"> Recomendados: </h4>
  <p> <a class="enlaces-limpios" href="#">Multijugador</a> <br>
    <a class="enlaces-limpios" href="#">Mejor valorados</a> <br>
    <a class="enlaces-limpios" href="#">Nuevos</a> <br>
  </p>

  <h4 id="explorar"> Explorar por género: </h4>
  <p> <a class="enlaces-limpios" href="#">Free to play</a> <br>
    <a class="enlaces-limpios" href="#"> Acceso anticipado </a> <br>
    <a class="enlaces-limpios" href="#"> Acción </a> <br>
    <a class="enlaces-limpios" href="#"> Aventura </a> <br>
    <a class="enlaces-limpios" href="#"> Casuales </a> <br>
    <a class="enlaces-limpios" href="#"> Carreras </a> <br>
    <a class="enlaces-limpios" href="#"> Deportes </a> <br>
    <a class="enlaces-limpios" href="#"> Estrategia </a> <br>
    <a class="enlaces-limpios" href="#"> Multijugador </a> <br>
    <a class="enlaces-limpios" href="#"> Rol </a> <br>
    <a class="enlaces-limpios" href="#"> Simulación </a> <br>
    <a class="enlaces-limpios" href="#"> Otros </a> <br>
  </p>
</div>
<div class="todos-productos">
  <div class="productos"><a class="productos-enlaces" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="restar-producto">-</button>
      <input class="numero-productos" type="number" max="50">
      <button class="sumar-producto">+</button>
    </div>
  </div>
  <div class="productos"><a class="productos-enlaces" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="restar-producto">-</button>
      <input class="numero-productos" type="number" max="50">
      <button class="sumar-producto">+</button>
    </div>
  </div>
  <div class="productos"><a class="productos-enlaces" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="restar-producto">-</button>
      <input class="numero-productos" type="number" max="50">
      <button class="sumar-producto">+</button>
    </div>
  </div>
  <div class="productos"><a class="productos-enlaces" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="restar-producto">-</button>
      <input class="numero-productos" type="number" max="50">
      <button class="sumar-producto">+</button>
    </div>
  </div>
</div>
<div class="todos-productos">
  <div class="productos"><a class="productos-enlaces" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="restar-producto">-</button>
      <input class="numero-productos" type="number" max="50">
      <button class="sumar-producto">+</button>
    </div>
  </div>
  <div class="productos"><a class="productos-enlaces" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="restar-producto">-</button>
      <input class="numero-productos" type="number" max="50">
      <button class="sumar-producto">+</button>
    </div>
  </div>
  <div class="productos"><a class="productos-enlaces" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="restar-producto">-</button>
      <input class="numero-productos" type="number" max="50">
      <button class="sumar-producto">+</button>
    </div>
  </div>
  <div class="productos"><a class="productos-enlaces" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="restar-producto">-</button>
      <input class="numero-productos" type="number" max="50">
      <button class="sumar-producto">+</button>
    </div>
  </div>
</div>
<div class="separador"></div>
<div class="separar-inicio"></div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link disabled" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link active" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    <li class="page-item"><a class="page-link" href="#">127</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
