<section id="contact">
  <div class="sectionheader">	<h1>CONTACTO</h1></div>
  <article>
    <p id="centrar">Bienvenido al formulario de contacto, podrás utilizar este formulario para ponerte en contacto con el personal administrativo de la web.</p>

    <label for="checkcontact" class="contactbutton"><div class="mail"></div></label><input id="checkcontact" type="checkbox">

    <form action="" method="post" class="contactform" (ngSubmit)="submitForm()" ngNativeValidate>
      <p class="input_wrapper"><input type="text" name="name" value=""  id ="name" [(ngModel)]="name" required><label for="name">NOMBRE</label></p>
      <p class="input_wrapper"><input type="text" name="email" value=""  id ="email" [(ngModel)]="email" required><label for="email">CORREO</label></p>
      <p class="input_wrapper"><input type="text" name="subject" value=""  id ="subject" [(ngModel)]="subject" required><label for="subject">ASUNTO</label></p>
      <p class="textarea_wrapper"><textarea name="information" id="information" [(ngModel)]="information" placeholder="Describe tu problema..." required></textarea></p>
      <p class="form-group">
      <re-captcha
        (resolved)="onCaptchaResolved($event)"
        siteKey="6LfrZJwpAAAAAHiCwqcdfgnz3kvpsY0ls5O5uvnR"
      ></re-captcha>
      </p>
      <button id="enviar" type="submit" class="submit_wrapper tw-ml-2 tw-mb-3 tw-border tw-border-blue-600 tw-bg-black tw-text-white tw-font-bold tw-p-2 hover:tw-scale-105">ENVIAR</button>

    </form>
  </article>
</section>
<div *ngIf="formularioEnviado" id="formSend" class="tw-animate-slide-in-bottom">
  <p id="sendCorrect">¡Tu solicitud de contacto se ha enviado correctamente!</p>
  <p>¡Nos pondremos en contacto contigo con la mayor brevedad posible!</p>
</div>
<div id="espacioInferior"></div>
<router-outlet></router-outlet>

