<section id="contact">
  <div class="sectionheader">	<h1>CONTACTO</h1></div>
  <article>
    <p id="centrar">Bienvenido al formulario de contacto, podrás utilizar este formulario para ponerte en contacto con el personal administrativo de la web.</p>

    <label for="checkcontact" class="contactbutton"><div class="mail"></div></label><input id="checkcontact" type="checkbox">

    <form action="" method="post" class="contactform">
      <p class="input_wrapper"><input type="text" name="name" value=""  id ="name" [(ngModel)]="name"><label for="name">NOMBRE</label></p>
      <p class="input_wrapper"><input type="text" name="email" value=""  id ="email" [(ngModel)]="email"><label for="email">CORREO</label></p>
      <p class="input_wrapper"><input type="text" name="subject" value=""  id ="subject" [(ngModel)]="subject"><label for="subject">ASUNTO</label></p>
      <p class="textarea_wrapper"><textarea name="information" id="information" [(ngModel)]="information" placeholder="Describe tu problema..."></textarea></p>
      <p class="submit_wrapper"><a (click)="enviarFormulario()">ENVIAR</a></p>
    </form>
  </article>
</section>
<div *ngIf="formularioEnviado" id="formSend">
  <p id="sendCorrect">¡Tu solicitud de contacto se ha enviado correctamente!</p>
  <p>¡Nos pondremos en contacto contigo con la mayor brevedad posible!</p>
</div>
<div id="espacioInferior"></div>
<router-outlet></router-outlet>

