<div class="container">
  <div class="forms">
    <div class="form login">
      <form>

      <img src="./assets/logo-BD.png" width="70" height="70">
      <span class="title"> Black Diamond </span>
      <table align="center" id="table">

        <tr>
          <td align="center"> <label > Nombre: </label>
            <input type="text" id="Nombre" name="Nombre"> </td>
        </tr>

        <tr>
          <td align="center"> <label > Apellidos: </label>
            <input type="text" id="Apellidos" name="Apellidos"> </td>
        </tr>

        <tr>
          <td align="center"> <label > Núm de tel: </label>
            <input type="text" id="Telefono" name="Telefon"> </td>
        </tr>

        <tr>
          <td align="center"> <label > Email: </label>
            <input type="email" id="Email" name="Email"> </td>
        </tr>

        <tr>
          <td align="center"> <label > Asunto: </label>
            <textarea id="asunto" name="asunto"></textarea> </td>
        </tr>

        <p align="center"> Una vez enviada la petición, uno de nuestros operadores se pondrá en contacto con usted. </p>

      </table>


      <div class="input-field button">
        <input type="button" value="Enviar">
      </div>
      </form>

    </div>
  </div>
</div>

