<div class="container2">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<div>
  <div class="navigation2">
    <ul>
      <li>
        <a href="#">
          <span class="icon">
            <i class="fa-solid fa-headset"></i>
          </span>
          <span class="title">Panel de Administrador</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="icon">
              <i class="fas fa-users"></i>
          </span>
          <span class="title">Compradores</span>
        </a>
      </li>
      <li>
        <a href="/admin-ventas">
          <span class="icon">
              <i class="fas fa-chart-bar"></i>
          </span>
          <span class="title">Gráficos de Ventas</span>
        </a>
      </li>
      <li>
        <a href="/productos" routerLinkActive="true">
                        <span class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
          <span class="title">Productos</span>
        </a>
      </li>

    </ul>
  </div>


  <!-- ========================= Main ==================== -->
  <div class="main">
    <div class="topbar">
      <div class="toggle">
        <!--<ion-icon name="menu-outline"></ion-icon>-->
      </div>

      <a href="/perfil">
        <div class="user">
          <img src="http://172.16.10.1:3080/imagenes/profile.png" alt="">
        </div>
      </a>
    </div>

    <!-- ======================= Cards ================== -->
    <div class="cardBox">
      <a class="tw-no-underline" href="#">
        <div class="card hover:tw-scale-105">
          <div>
            <div class="numbers">1.504</div>
            <div class="cardName">Visitas Diarias</div>
          </div>

          <div class="iconBx">
            <i class="fas fa-eye"></i>
          </div>
        </div>
      </a>
      <a class="tw-no-underline" href="#">
        <div class="card hover:tw-scale-105">
          <div>
            <div class="numbers">{{this.todosPedidos.length}}</div>
            <div class="cardName">Ventas Totales</div>
          </div>

          <div class="iconBx">
            <i class="fas fa-shopping-cart"></i>
          </div>
        </div>
      </a>

      <a class="tw-no-underline" href="#">
        <div class="card hover:tw-scale-105">
          <div>
            <div class="numbers">284</div>
            <div class="cardName">Valoraciones Totales</div>
          </div>

          <div class="iconBx">
            <i class="fas fa-comment-dots"></i>
          </div>
        </div>
      </a>

      <a class="tw-no-underline" href="#">
        <div class="card hover:tw-scale-105">
          <div>
            <div class="numbers">{{Number(this.totalGanado).toLocaleString('es-ES')}}€</div>
            <div class="cardName">Ingresos Totales</div>
          </div>

          <div class="iconBx">
            <i class="fas fa-money-bill-wave"></i>
          </div>
        </div>
      </a>
    </div>

    <!-- ================ Order Details List ================= -->
    <div class="details">
      <div class="recentOrders">
        <div class="cardHeader">
          <h2>Últimos Pedidos</h2>
        </div>
        <table>
          <tr>
            <td class="tw-text-center tw-font-bold">ID Pedido</td>
            <td class="tw-text-center tw-font-bold">Usuario</td>
            <td class="tw-text-center tw-font-bold">Precio Total</td>
            <td class="tw-text-center tw-font-bold">Pago</td>
            <td class="tw-text-center tw-font-bold">Hash</td>
          </tr>
          <tbody class="-tw-mt-20" *ngFor="let pedido of pedidos">
          <tr>
            <td>{{pedido.idPedido}}</td>
            <td>{{pedido.usuarioPedido}}</td>
            <td>{{Number(pedido.precioTotal).toLocaleString('es-ES')}}€</td>
            <td>{{pedido.metodoPago}}</td>
            <td>{{pedido.hashTransaccion}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- ================= New Customers ================ -->
      <div class="recentCustomers">
        <div class="cardHeader">
          <h2>Últimos Compradores</h2>
        </div>

        <table>
          <tr *ngFor="let usuario of pedidos">
            <td width="60px">
              <div class="imgBx"><img src="http://172.16.10.1:3080/imagenes/profile.png" alt=""></div>
            </td>
            <td>
              <h4>{{ usuario.usuarioPedido }}</h4>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>
