<div class="navigation2">
  <ul>
    <li>
      <a href="/admin">
          <span class="icon">
            <i class="fa-solid fa-headset"></i>
          </span>
        <span class="title">Panel de Administrador</span>
      </a>
    </li>

    <li>
      <a href="#">
          <span class="icon">
              <i class="fas fa-users"></i>
          </span>
        <span class="title">Compradores</span>
      </a>
    </li>
    <li>
      <a href="/admin-ventas">
          <span class="icon">
              <i class="fas fa-chart-bar"></i>
          </span>
        <span class="title">Gráficos de Ventas</span>
      </a>
    </li>
    <li>
      <a href="/productos" routerLinkActive="true">
                        <span class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
        <span class="title">Productos</span>
      </a>
    </li>

  </ul>
</div>

<div class="tw-ml-72 tw-mt-6 tw-mb-6">
  <table class="border border-collapse">
    <thead>
      <tr>
        <th class="tw-min-w-14 tw-text-center border border-slate-600">ID</th>
        <th class="tw-p-4 tw-w-auto tw-text-center border border-slate-600">Nombre</th>
        <th class="tw-min-w-32 tw-text-center border border-slate-600">Precio</th>
        <th class="tw-min-w-32 tw-text-center border border-slate-600">Steam</th>
        <th class="tw-min-w-32 tw-text-center border border-slate-600">Uplay</th>
        <th class="tw-min-w-32 tw-text-center border border-slate-600">PS4</th>
        <th class="tw-min-w-32 tw-text-center border border-slate-600">PS5</th>
        <th class="tw-min-w-32 tw-text-center border border-slate-600">XBOX</th>
        <th class="tw-min-w-32 tw-text-center border border-slate-600">Switch</th>
        <th class="tw-min-w-32 tw-text-center border border-slate-600">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of idProd.arrayProductos">
        <td class="tw-text-center border border-slate-600">{{producto.idProducto}}</td>
        <td class="tw-text-center tw-p-2 tw-w-auto border border-slate-600">{{producto.nombreProducto}}</td>
        <td class="tw-text-center border border-slate-600">{{producto.precioProducto.toLocaleString('es-ES')}}€</td>
        <td class="tw-text-center border border-slate-600">{{producto.steamProducto}}</td>
        <td class="tw-text-center border border-slate-600">{{producto.ubisoftProducto}}</td>
        <td class="tw-text-center border border-slate-600">{{producto.ps4Producto}}</td>
        <td class="tw-text-center border border-slate-600">{{producto.ps5Producto}}</td>
        <td class="tw-text-center border border-slate-600">{{producto.xboxProducto}}</td>
        <td class="tw-text-center border border-slate-600">{{producto.switchProducto}}</td>
        <td class="tw-text-center border border-slate-600">{{producto.stock}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tw-ml-80 tw-max-w-6xl" ngbAccordion>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Agregar Producto</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div class="container">

            <section class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"> Formulario para añadir producto</h3>
              </div>
              <div class="panel-body">

                <form (ngSubmit)="agregarProducto()" enctype="multipart/form-data" class="form-horizontal" role="form" ngNativeValidate>

                  <div class="form-group">
                    <label for="productNameUrl" class="col-sm-3 control-label">ProductNameUrl</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="productNameUrl" id="productNameUrl" placeholder="Obligatorio" required>
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="fotoProducto" class="col-sm-3 control-label">Foto del producto</label>
                    <div class="col-sm-3">
                      <input type="File" class="form-control" name="qty" id="fotoProducto" (input)="onFileSelected($event)" placeholder="Obligatorio" required>
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="nombreProducto" class="col-sm-3 control-label">Nombre del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="nombreProducto" id="nombreProducto" placeholder="Obligatorio" required>
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="descripcionProducto" class="col-sm-3 control-label">Descripción del producto</label>
                    <div class="col-sm-9">
                      <textarea class="form-control" [(ngModel)]="descripcionProducto" id="descripcionProducto" placeholder="Obligatorio" required></textarea>
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="descripcionLargaProducto" class="col-sm-3 control-label">Descripción larga del producto</label>
                    <div class="col-sm-9">
                      <textarea class="form-control" [(ngModel)]="descripcionLargaProducto" id="descripcionLargaProducto" placeholder="Obligatorio" required></textarea>
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <div class="col-sm-3">
                      <label class="control-label small" for="categoriaProducto">Categoria del producto </label>
                      <input type="text" class="form-control" name="date_start" [(ngModel)]="categoriaProducto" id="categoriaProducto" placeholder="Obligatorio">
                    </div>
                    <div class="col-sm-3">
                      <label class="control-label small" for="precioProducto">Precio del producto</label>
                      <input type="text" class="form-control" name="date_finish" [(ngModel)]="precioProducto" id="precioProducto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="descuentoProducto" class="col-sm-3 control-label">Descuento del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="descuentoProducto" id="descuentoProducto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="porcentajeDescuentoProducto" class="col-sm-3 control-label">Porcentaje del descuento</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="porcentajeDescuentoProducto" id="porcentajeDescuentoProducto" placeholder="Obligatorio si el de arriba es TRUE">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="soMinimoProducto" class="col-sm-3 control-label">S.O mínimo del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="soMinimoProducto" id="soMinimoProducto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="procesadorMinimoProducto" class="col-sm-3 control-label">Procesador mínimo del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="procesadorMinimoProducto" id="procesadorMinimoProducto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="memoriaMinimoProducto" class="col-sm-3 control-label">Memória RAM mínima del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="memoriaMinimoProducto" id="memoriaMinimoProducto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="graficosMinimoProducto" class="col-sm-3 control-label">Gráficos mínimos del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="graficosMinimoProducto" id="graficosMinimoProducto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="hardwareRecomendadoProducto" class="col-sm-3 control-label">Hardware recomendado del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="hardwareRecomendadoProducto" id="hardwareRecomendadoProducto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="steamProducto" class="col-sm-3 control-label">Producto de Steam (0-1)</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="steamProducto" id="steamProducto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="ubisoftProducto" class="col-sm-3 control-label">Producto de Ubisoft (0-1)</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="ubisoftProducto" id="ubisoftProducto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="switchProducto" class="col-sm-3 control-label">Producto de Switch (0-1)</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="switchProducto" id="switchProducto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="xboxProducto" class="col-sm-3 control-label">Producto de Xbox (0-1)</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="xboxProducto" id="xboxProducto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="ps4Producto" class="col-sm-3 control-label">Producto de Ps4 (0-1)</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="ps4Producto" id="ps4Producto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="ps5Producto" class="col-sm-3 control-label">Producto de Ps5 (0-1)</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="ps5Producto" id="ps5Producto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="soRecomendadoProducto" class="col-sm-3 control-label">Software recomendado del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="soRecomendadoProducto" id="soRecomendadoProducto" placeholder="">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="procesadorRecomendadoProducto" class="col-sm-3 control-label">Procesador recomendado del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="procesadorRecomendadoProducto" id="procesadorRecomendadoProducto" placeholder="">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="memoriaRecomendadoProducto" class="col-sm-3 control-label">Memoria recomendada del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="memoriaRecomendadoProducto" id="memoriaRecomendadoProducto" placeholder="">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="graficosRecomendadoProducto" class="col-sm-3 control-label">Gráficos recomendados del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="graficosRecomendadoProducto" id="graficosRecomendadoProducto" placeholder="">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="videoProducto" class="col-sm-3 control-label">Link del vídeo del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="videoProducto" id="videoProducto" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->
                  <div class="form-group">
                    <label for="stock" class="col-sm-3 control-label">Stock del producto</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="qty" [(ngModel)]="stock" id="stock" placeholder="Obligatorio">
                    </div>
                  </div> <!-- form-group // -->

                  <hr>
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-primary">Registrar producto</button>
                    </div>
                  </div> <!-- form-group // -->
                </form>

              </div><!-- panel-body // -->
            </section><!-- panel// -->


          </div> <!-- container// -->

        </ng-template>
      </div>
    </div>
  </div>
</div>
