<div class="header">
  <h1>Política de Privacidad</h1>
</div>
<div class="main">
  <div class="contenido">
    <h2>Información que recopilamos:</h2>
    <p>En Black Diamond, recopilamos información personal que usted proporciona voluntariamente al utilizar nuestros servicios. Esta información puede incluir, entre otros, su nombre, dirección de correo electrónico, dirección postal, información de pago y otra información que nos proporcione.</p>
  </div>
  <div class="contenido">
    <h2>Uso de la información:</h2>
    <p>Utilizamos la información recopilada para proporcionar y mantener nuestros servicios, procesar sus pedidos, personalizar su experiencia de usuario, mejorar nuestro sitio web y comunicarnos con usted. También podemos utilizar su información para fines de marketing y publicidad, siempre y cuando tengamos su consentimiento.</p>
  </div>
  <div class="contenido">
    <h2>Seguridad de la información:</h2>
    <p>Implementamos medidas de seguridad razonables para proteger la información personal contra accesos no autorizados, uso indebido o divulgación. Sin embargo, ninguna medida de seguridad es completamente segura, y no podemos garantizar la seguridad absoluta de su información.</p>
  </div>
  <div class="contenido">
    <h2>Sus derechos:</h2>
    <p>Usted tiene derecho a acceder, corregir o eliminar su información personal. También puede optar por no recibir comunicaciones de marketing nuestras en cualquier momento. Para ejercer sus derechos de privacidad o si tiene preguntas o inquietudes sobre nuestra Política de Privacidad, no dude en contactarnos.</p>
  </div>
  <div class="contenido">
    <h2>Cambios en la Política de Privacidad:</h2>
    <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Le notificaremos cualquier cambio importante publicando la versión actualizada en nuestro sitio web. El uso continuado de nuestros servicios después de la publicación de cualquier cambio constituirá su aceptación de dichos cambios.</p>
  </div>
</div>
<div class="footer">
  <p>Última actualización: 10 de febrero de 2024</p>
</div>
