<img src="" alt="Imagen Producto">
<h2>CS2</h2>
<p>Descripción corta</p>
<label>Plataforma: </label>
<select>
  <option>PC - Steam</option>
  <option>PC - Ubisoft</option>
  <option>Nintendo Switch</option>
  <option>XBOX</option>
  <option>PlayStation 4</option>
  <option>PlayStation 5</option>
</select>
<p>Precio</p>
<p>Descripción Larga</p>
<div>
  <div>
    <p>Hardware Mínimo: </p>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div>
    <p>Hardware Recomendado: </p>
  </div>
</div>
