<div id="informacion-basica">
  <div *ngIf="producto.descuentoProducto" id="descuento-producto">
    <p id="porcentaje-descuento">{{producto.porcentajeDescuentoProducto * 100}}% DTO.</p>
  </div>
  <img id="imagen-juegos" src="{{producto.fotoProducto}}" alt="Imagen Producto">
  <h2>{{producto.nombreProducto}}</h2>
  <p>{{producto.descripcionProducto}}</p>
  <div class="en-linea">
    <label>Plataforma: </label>
    <select>
      <option *ngIf="producto.steamProducto">PC - Steam</option>
      <option *ngIf="producto.ubisoftProducto">PC - Ubisoft</option>
      <option *ngIf="producto.switchProducto">Nintendo Switch</option>
      <option *ngIf="producto.xboxProducto">XBOX</option>
      <option *ngIf="producto.ps4Producto">PlayStation 4</option>
      <option *ngIf="producto.ps5Producto">PlayStation 5</option>
    </select>
  </div>
  <div id="precios-productos">
    <p id="precio-producto">{{Number(((producto.precioProducto - (producto.precioProducto * producto.porcentajeDescuentoProducto))).toFixed(2)).toLocaleString('es-ES')}}€</p>
    <div *ngIf="producto.descuentoProducto">
      <p id="precio-anterior-producto">{{producto.precioProducto.toLocaleString('es-ES')}}€</p>
    </div>
  </div>
  <br>
  <div id="agregar-carrito">
    <input id="cantidadAgregar" type="number" [(ngModel)]="producto.cantidadProducto" min="1" max="50" value="1">
    <button id="agregarAlCarrito" (click)="agregarProductoAlCarrito(producto)">AÑADIR AL CARRITO</button>
  </div>
</div>
<div id="espacio-derechoProductos">
  <h4 class="subrayado">{{producto.nombreProducto}}:</h4>
  <p id="descripcion-larga">{{producto.descripcionLargarProducto}}</p>
  <div>
    <div class="hardware">
      <p class="subrayado negrita">Hardware Mínimo: </p>
      <ul>
        <li>Sistema Operativo: {{producto.soMinimoProducto}}</li>
        <li>Procesador: {{producto.procesadorMinimoProducto}}</li>
        <li>Memoria: {{producto.memoriaMinimoProducto}}</li>
        <li>Gráficos: {{producto.graficosMinimoProducto}}</li>
      </ul>
    </div>
    <div class="hardware" *ngIf="producto.hardwareRecomendadoProducto">
      <p class="subrayado negrita">Hardware Recomendado: </p>
      <ul>
        <li>Sistema Operativo: {{producto.soRecomendadoProducto}}</li>
        <li>Procesador: {{producto.procesadorRecomendadoProducto}}</li>
        <li>Memoria: {{producto.memoriaRecomendadoProducto}}</li>
        <li>Gráficos: {{producto.graficosRecomendadoProducto}}</li>
      </ul>
    </div>
  </div>
  <div id="video-producto">
    <iframe width="1000" height="600" [src]="getSafeUrl(producto.videoProducto)" [title]="producto.nombreProducto" allow="accelerometer; gyroscope;" allowfullscreen></iframe>
  </div>
  <div id="final-pag"></div>
</div>

<div *ngIf="mensajeError" class="error">
  {{ mensajeError }}
</div>

