<div *ngFor="let producto of productosEnCesta">
  <div id="claveProducto">
    <h4>Esta es tu clave de <span class="negrita">{{producto.nombreProducto}}</span></h4>
    <div id="imagenPlataforma">
      <div class="contenedor">
        <img class="logo-plataforma" *ngIf="this.xbox" src="http://172.16.10.1:3080/imagenes/xbox.png">
        <img class="logo-plataforma" *ngIf="this.playstation" src="http://172.16.10.1:3080/imagenes/ps4.png">
        <img class="logo-plataforma" *ngIf="this.ubisoft" src="http://172.16.10.1:3080/imagenes/ubi.png">
        <img class="logo-plataforma" *ngIf="this.steam" src="http://172.16.10.1:3080/imagenes/steam.png">
        <img class="logo-plataforma" *ngIf="this.switch" src="http://172.16.10.1:3080/imagenes/switch.png">
      </div>
    </div>
    <div id="clave" class="tw-pb-4" *ngFor="let clave of producto.claves">
      <h1 id="numeroClave">{{ clave }}</h1>
    </div>
  </div>
  <div class="tw-min-h-16"></div>
</div>
