body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.0875em;
}

.background {
  display: flex;
  min-height: 6.25em;
}

.contenedorForm {
  width: 48em;
  flex: 0 1 43.75em;
  margin: auto;
  margin-top: 10em;
  padding: 0.625em;
}

.link{
  font-size: small;
  text-decoration: none;
  color: #888;
}

.link2{
  font-size: small;
  text-decoration: none;
  color: #000000;
}

.link:hover{
  color: white;
}

.link2:hover{
  color: #888;
}

#whiteLogo{
  width: 8em;
  margin-top: 1em;
  margin: auto;
}

#registrar{
  text-align: center;
  margin-bottom: 5em;
}

#espacioSuperior{
  height: 2.5em;
}

#camposVacios{
  color: red;
  text-align: center;
}

.screen {
  position: relative;
  background: #1f1f1f;
  border-radius: 0.9375em;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 1.25em;
  right: 1.25em;
  bottom: 0;
  border-radius: 0.9375em;
  box-shadow: 0 1.25em 2.5em rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 0.625em 1.25em;
  background: #000000;
  border-top-left-radius: 0.9375em;
  border-top-right-radius: 0.9375em;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.1875em;
  border-radius: 0.5em;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 0.1875em;
  height: 0.1875em;
  margin-left: 0.125em;
  border-radius: 0.5em;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 3.125em;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  font-size: 1.625em;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.625em;
  width: 1.5625em;
  height: 0.25em;
  background: #ffffff;
}

.app-contact {
  margin-top: auto;
  font-size: 0.5em;
  color: #888;
}

.app-form-group {
  margin-bottom: 0.9375em;
}

.app-form-group.message {
  margin-top: 2.5em;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 0.625em 0;
  background: none;
  border: none;
  border-bottom: 0.0625em solid #666;
  color: #ddd;
  font-size: 0.875em;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 0.875em;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #8a8a8a;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25em;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.3125em;
}

#terminos{
  margin-top: .8em;
  width: .6em;
}

#terminosCondiciones{
  color: #888;
  margin-left: .5em;
  font-size: x-small;
  margin-bottom: 1em;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 1.875em;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 0.75em;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 2.5em;
  }

  .screen-body-item {
    padding: 0;
  }
}
