<div class="container">
  <div class="forms">
    <div class="form login">
      <form>
      <img src="./assets/logo-BD.png" width="70" height="70">
      <span class="title"> Black Diamond </span>

      <table align="center" id="table">

        <tr>
          <td align="center"> <label > Nombre: </label>
            <input type="text" id="nombre" name="Nombre"> </td>
        </tr>

        <tr>
          <td align="center"> <label > Apellidos: </label>
            <input type="text" id="apellidos" name="Apellidos"> </td>
        </tr>

        <tr>
          <td align="center"> <label >Núm de tel: </label>
            <input type="text" id="Telefono" name="Telefon"> </td>
        </tr>

        <tr>
          <td align="center"> <label >Sexo: </label>
            <label >Hombre </label>
            <input type="checkbox" id=Hombre>
            <label >Mujer </label>
            <input type="checkbox" id="Mujer">

          </td>

        </tr>

        <tr>
          <td align="center"><label >Email: </label>
            <input type="email" id="email" name="Email"> </td>
        </tr>

        <tr>
          <td align="center"> <label > Contraseña: </label>
            <input type="password" id="password" name="Contraseña"> </td>
        </tr>

      </table>

      <div class="input-field button">
        <input type="submit" value="Registrarse" (click)="registrarUsuario()">
      </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
