<head></head>
<div>
  <div class="contenedorForm">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>REGISTRO</span>
          </div>
          <img id="whiteLogo" alt="Logo Blanco" src="http://172.16.10.1:3080/imagenes/logo-BD-Blanco.png">
          <div class="app-contact">
            <a class="link" routerLink="/contacto">CONTACTANOS</a>
          </div>
        </div>
        <div class="screen-body-item">
          <div class="espacioSuperior" *ngIf="!camposLlenos"></div>
          <div class="camposVacios" *ngIf="camposLlenos">
            <p>Debes rellenar todos los campos</p>
          </div>
          <div class="camposVacios" *ngIf="this.userServ.usuarioCorreoYaExiste">
            <p>¡Ya tienes cuenta! <a routerLink="/login">Iniciar Sesión</a></p>
          </div>
          <div class="camposVacios" *ngIf="this.userServ.contrasenaCorta">
            <p>¡La contraseña es demasiado corta debe tener al menos 8 caracteres!</p>
          </div>
          <div class="camposVacios" *ngIf="this.userServ.contrasenaLarga">
            <p>¡La contraseña es demasiado larga debe tener menos de 32 caracteres!</p>
          </div>
          <div class="camposVacios" *ngIf="this.userServ.contrasenaNoCoincide">
            <p>¡Las contraseñas no coinciden!</p>
          </div>
          <div class="camposVacios" *ngIf="mostrarMensajeAceptarPolitica">
            <p>Debes aceptar la Política de Privacidad</p>
          </div>
          <div class="app-form">
              <input class="app-form-control" id="username" name="username" placeholder="NOMBRE DE USUARIO" required>
            </div>
            <div class="app-form-group">
              <div class="app-form-group">
                <input class="app-form-control" type="email" id="email" name="email" placeholder="CORREO ELECTRÓNICO" required>
              </div>
              <div class="app-form-group">
              <input type="password" class="app-form-control" id="password" name="Contraseña" placeholder="CONTRASEÑA" required>
            </div>
            <div class="app-form-group">
              <input type="password" class="app-form-control" id="confirmPass" name="confirmPass" placeholder="CONFIRMAR CONTRASEÑA" required>
            </div>
            <div>
              <input id="terminos" type="checkbox" [(ngModel)]="aceptarPolitica">
              <label id="terminosCondiciones" for="terminos">Acepto la <a routerLink="/privacy">Politica de Privacidad</a></label>
            </div>
            <div class="espacioSuperior"></div>
            <div class="app-form-group buttons">
              <button class="app-form-button" (click)="registrarUsuario()">REGISTRARSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="registrar">
  <p style="margin-bottom: 3px; margin-top: 2px; font-size: small">¿Ya tienes cuenta?</p>
  <a routerLink="/login" routerLinkActive="Active" class="link2"><b>INICIAR SESIÓN</b></a>
</div>
<router-outlet></router-outlet>

<router-outlet></router-outlet>
